<?xml version="1.0" ?>
<config>
    <modules>
        <Anyday_Payment>
            <version>0.0.1</version>
        </Anyday_Payment>
    </modules>
    <global>
        <helpers>
            <adpayment>
                <class>Anyday_Payment_Helper</class>
            </adpayment>
        </helpers>
        <models>
            <adpayment>
                <class>Anyday_Payment_Model</class>
            </adpayment>
        </models>
        <blocks>
            <adpayment>
                <class>Anyday_Payment_Block</class>
            </adpayment>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <adpayment>
                    <file>adpayment/adpayment.xml</file>
                </adpayment>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <adpayment>
                        <type>singleton</type>
                        <class>adpayment/observer</class>
                        <method>addPriceTag</method>
                    </adpayment>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
</config>