<?xml version="1.0" ?>
<config>
    <modules>
        <Anyday_Paymentmethod>
            <version>1.2.0</version>
        </Anyday_Paymentmethod>
    </modules>
    <frontend>
        <routers>
            <adpaymentmethodfront>
                <use>standard</use>
                <args>
                    <module>Anyday_Paymentmethod</module>
                    <frontName>adpaymentmethodfront</frontName>
                </args>
            </adpaymentmethodfront>
        </routers>
    </frontend>
    <global>
        <resources>
            <adpaymentmethod_setup>
                <setup>
                    <module>Anyday_Paymentmethod</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </adpaymentmethod_setup>
            <adpaymentmethod_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </adpaymentmethod_write>
            <adpaymentmethod_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </adpaymentmethod_read>
        </resources>
        <helpers>
            <adpaymentmethod>
                <class>Anyday_Paymentmethod_Helper</class>
            </adpaymentmethod>
        </helpers>
        <models>
            <adpaymentmethod>
                <class>Anyday_Paymentmethod_Model</class>
            </adpaymentmethod>
        </models>
        <blocks>
            <sales>
                <rewrite>
                    <order_creditmemo_create_items>Anyday_Paymentmethod</order_creditmemo_create_items>
                </rewrite>
            </sales>
            <adpaymentmethod>
                <class>Anyday_Paymentmethod_Block</class>
            </adpaymentmethod>
            <adminhtml>
                <rewrite>
                    <sales_order_creditmemo_create_items>Anyday_Paymentmethod_Block_Adminhtml_Sales_Order_Creditmemo_Create_Items</sales_order_creditmemo_create_items>
                </rewrite>
            </adminhtml>
        </blocks>
        <adpaymentmethod_resource>
            <class>Mage_Cms_Model_Resource</class>
        </adpaymentmethod_resource>
<!--        <events>-->
<!--            <checkout_type_onepage_save_order_after>-->
<!--                <observers>-->
<!--                    <ad_payment_checkout_type_onepage_save_order_after>-->
<!--                        <type>singleton</type>-->
<!--                        <class>adpaymentmethod/observer_ordersave</class>-->
<!--                        <method>validate</method>-->
<!--                    </ad_payment_checkout_type_onepage_save_order_after>-->
<!--                </observers>-->
<!--            </checkout_type_onepage_save_order_after>-->
<!--        </events>-->
    </global>
    <default>
        <payment>
            <adpaymentmethod>
                <active>1</active>
                <model>adpaymentmethod/paymentmethod</model>
                <order_status>pending</order_status>
                <title>ANYDAY Split</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </adpaymentmethod>
        </payment>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <adpaymentmethod before="Mage_Adminhtml">Anyday_Paymentmethod_Adminhtml</adpaymentmethod>
                    </modules>
                </args>
            </adminhtml>
            <!--<adminhtml>
                <args>
                    <modules>
                        <adpaymentmethod before='Mage_Adminhtml'>Anyday_Paymentmethod_Adminhtml</adpaymentmethod>
                    </modules>
                </args>
            </adminhtml>-->
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <smartparser>
                    <file>anydaypaymentmethod/anydaypaymentmethod.xml</file>
                </smartparser>
            </updates>
        </layout>
        <events>
            <sales_order_payment_cancel>
                <observers>
                    <Anyday_Paymentmethod_Model_Observer>
                        <type>singleton</type>
                        <class>adpaymentmethod/observer</class>
                        <method>cancelAnydaypayment</method>
                    </Anyday_Paymentmethod_Model_Observer>
                </observers>
            </sales_order_payment_cancel>
            <adminhtml_widget_container_html_before>
                <observers>
                    <Anyday_adminhtml_widget_container_html_before>
                        <type>singleton</type>
                        <class>adpaymentmethod/observer</class>
                        <method>addButtonsToOrder</method>
                    </Anyday_adminhtml_widget_container_html_before>
                </observers>
            </adminhtml_widget_container_html_before>
<!--            <adminhtml_sales_order_creditmemo_register_before>-->
<!--                <observers>-->
<!--                    <Anyday_adminhtml_sales_order_creditmemo_register_before>-->
<!--                        <type>singleton</type>-->
<!--                        <class>adpaymentmethod/observer</class>-->
<!--                        <method>creditmemoRegister</method>-->
<!--                    </Anyday_adminhtml_sales_order_creditmemo_register_before>-->
<!--                </observers>-->
<!--            </adminhtml_sales_order_creditmemo_register_before>-->
            <!--<sales_order_invoice_save_after>
                <observers>
                    <Anyday_sales_order_invoice_save_after>
                        <type>singleton</type>
                        <class>adpaymentmethod/observer</class>
                        <method>captureInvoiceAnydaypayment</method>
                    </Anyday_sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>-->
        </events>
    </adminhtml>
</config>