<?xml version="1.0" ?>
<config>
    <modules>
        <Anyday_Paymentmethod>
            <version>1.2.0</version>
        </Anyday_Paymentmethod>
    </modules>
    <frontend>
        <routers>
            <adpaymentmethodfront>
                <use>standard</use>
                <args>
                    <module>Anyday_Paymentmethod</module>
                    <frontName>adpaymentmethodfront</frontName>
                </args>
            </adpaymentmethodfront>
        </routers>
        <translate>
            <modules>
                <Anyday_Paymentmethod>
                    <files>
                        <default>Anyday_Paymentmethod.csv</default>
                    </files>
                </Anyday_Paymentmethod>
            </modules>
        </translate>
    </frontend>
    <global>
        <resources>
            <adpaymentmethod_setup>
                <setup>
                    <module>Anyday_Paymentmethod</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </adpaymentmethod_setup>
        </resources>
        <helpers>
            <adpaymentmethod>
                <class>Anyday_Paymentmethod_Helper</class>
            </adpaymentmethod>
        </helpers>
        <models>
            <adpaymentmethod>
                <class>Anyday_Paymentmethod_Model</class>
            </adpaymentmethod>
        </models>
        <blocks>
            <adpaymentmethod>
                <class>Anyday_Paymentmethod_Block</class>
            </adpaymentmethod>
        </blocks>
        <events>
            <sales_order_payment_place_start>
                <observers>
                    <ad_payment_sales_order_payment_place_start>
                        <type>singleton</type>
                        <class>adpaymentmethod/observer_order_place</class>
                        <method>start</method>
                    </ad_payment_sales_order_payment_place_start>
                </observers>
            </sales_order_payment_place_start>
        </events>
    </global>
    <default>
        <payment>
            <adpaymentmethod>
                <active>1</active>
                <model>adpaymentmethod/paymentmethod</model>
                <order_status>pending</order_status>
                <title>Anyday</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </adpaymentmethod>
        </payment>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <adpaymentmethod before="Mage_Adminhtml">Anyday_Paymentmethod_Adminhtml</adpaymentmethod>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <smartparser>
                    <file>anydaypaymentmethod/anydaypaymentmethod.xml</file>
                </smartparser>
            </updates>
        </layout>
        <translate>
            <modules>
                <Anyday_Paymentmethod>
                    <files>
                        <default>Anyday_Paymentmethod.csv</default>
                    </files>
                </Anyday_Paymentmethod>
            </modules>
        </translate>
        <events>
            <sales_order_payment_cancel>
                <observers>
                    <Anyday_Paymentmethod_Model_Observer>
                        <type>singleton</type>
                        <class>adpaymentmethod/observer</class>
                        <method>cancelAnydaypayment</method>
                    </Anyday_Paymentmethod_Model_Observer>
                </observers>
            </sales_order_payment_cancel>
            <adminhtml_widget_container_html_before>
                <observers>
                    <Anyday_adminhtml_widget_container_html_before>
                        <type>singleton</type>
                        <class>adpaymentmethod/observer</class>
                        <method>addButtonsToOrder</method>
                    </Anyday_adminhtml_widget_container_html_before>
                </observers>
            </adminhtml_widget_container_html_before>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <anyday_core_block_abstract_prepare_layout_before>
                        <class>adpaymentmethod/observer_salesgrid</class>
                        <method>addMassAction</method>
                    </anyday_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <anyday_core_block_abstract_to_html_after>
                        <class>adpaymentmethod/observer</class>
                        <method>removeCapture</method>
                    </anyday_core_block_abstract_to_html_after>
                </observers>
            </core_block_abstract_to_html_after>
            <core_block_abstract_to_html_before>
                <observers>
                    <anyday_core_block_abstract_to_html_after>
                        <class>adpaymentmethod/observer</class>
                        <method>removeRefund</method>
                    </anyday_core_block_abstract_to_html_after>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </adminhtml>
</config>